<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static',filename='styles/auth_style.css')}}">
  <style> 
  
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  width: 35%;
}
  </style>
</head>

<body>
  <header><a href="{{url_for('home')}}" style="text-decoration: none; color: skyblue;">Pet Adoption Management System</a></header>
   <div class="container"> 
      <!-- <div>{{ msg }}</div> -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <h2>Login</h2>

    <form action="/login" method="POST">
      
    <div class="input-field">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" minlength="5" maxlength="10" placeholder="Enter your username" required>
      
        </div>
      <div class="input-field">
        
        <label for="email">Email</label>
      <input type="email" name = "email" id="email" maxlength="25" placeholder="Enter your email" required>
      
      </div>
      <div class="input-field">
      
        <label for="password">Password</label>
      <input type="password" name="password" id="password" minlength="6" maxlength="12" placeholder="Enter your password" required>
      
      </div>

      <button class="btn btn-login" type="submit">Login</button>
      <a class="btn btn-login" href="{{ url_for('forgot_password') }}" style="margin-right: 15px; text-decoration: none;">Forgot Password?</a>

    </form>

    <p class="bottom">Don't have an account? <a href="{{ url_for('registration') }}">Register here</a></p>
    
  </div>
</body>
</html>