* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  color: #333;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1517849845537-4d257902454a") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: purple;
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 10;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 5;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.input-field {
  margin-bottom: 15px;
  text-align: left;
}
.input-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

